[Desktop Entry]
Type=Service
Name=GitLab
Comment=Open GitLab projects, search issues and merge requests
Icon=org.thehoster.forskap
X-KDE-ServiceTypes=Plasma/Runner
X-Plasma-API=DBus2
X-Plasma-DBusRunner-Service=org.thehoster.forskap.SearchProvider
X-Plasma-DBusRunner-Path=/org/thehoster/forskap/Runner
X-Plasma-Request-Actions-Once=true
X-KDE-PluginInfo-Name=forskap
X-KDE-PluginInfo-Author=Bjarne Seger
X-KDE-PluginInfo-License=GPL-3.0-only
X-KDE-PluginInfo-EnabledByDefault=true
