[Desktop Entry]
Type=Application
Name=Forskap
Comment=Open GitLab projects, search issues and merge requests
Exec=/usr/bin/forskap integration search-provider launch
Icon=org.thehoster.forskap
Categories=Development;
Keywords=GitLab;project;issue;merge request;
